.login_page_container {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_page_form_container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px;
  margin: 34px 0 8px 0;
}

.login_page_form_title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  padding: 16px 24px;
  color: #fff;
  background-color: #e3350d;
  position: absolute;
  width: 100%;
  top: -80px;
}
